@font-face {
    font-family: 'SF Pro Display';
    src: url('SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: bold;
}

body {
    font-family: 'SF Pro Display';
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 200px;
    height: 94vh;
    background-color: #f1f1f1;
    border-right: 1px solid #ddd;
    padding: 1rem;
}

.sidebar-header {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.sidebar-contact {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.sidebar-contact img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}

.sidebar-contact span {
    font-weight: bold;
}

.message-container {
    flex: 1;
    padding: 1rem;
    height: 100vh;
    overflow-y: scroll;
    background-color: #fff;
}

.message {
    margin-bottom: 1rem;
    display: flex;
}

.message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.message-content {
    background-color: #eee;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.column {
    margin-left: 10px;
    margin-right: 10px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

#see-more{
    border: none;
    background-color: transparent;
}


.message-container {
    width: auto;
    background-color: #F0F4F9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-container #chat-messages {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: calc(100% - 60px); 
    overflow-y: auto;
}

.message-container #send-section {
    padding-left: 10px;
    padding-bottom: 10px;
    display: inline-flex;
    position: sticky;
    bottom: 0;
    background-color: inherit; /* To ensure the background color matches the parent */
}

.message-container input {
    height: 25px;
    width: 90%;
    border-radius: 20px;
    border: none;
    padding: 10px;
}

.message-container input:focus {
    outline: none;
}

.message-container button {
    margin-left: 10px;
    width: 10%;
    border-radius: 20px;
    border: none;
    background-color: white;
}

.message-container button:hover{
    background-color: #91bdf4;
}

.message-container #send-section {
    padding-left: 10px;
    padding-bottom: 10px;
    display: inline-flex;
  }



.row-mess img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.row-mess {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: -10px;
}

.row-mess #chat-messages {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: calc(100% - 60px); 
    overflow-y: auto;
}

.message-container #id
{
    color: #65676B;
    font-size: 14px;
    margin-left: -8px;
}

.message-container #timestamp
{
    margin-top: 1px;
    direction: ltr;
    color: #bbc1cc;
    font-size: 12px;
    padding-left: 70px;
}

.message-container #timestamp-right
{
    margin-top: 1px;
    direction: ltr;
    color: #bbc1cc;
    font-size: 12px;
    text-align: right; 
}

.message-container #left-span{
    border-radius: 20px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.message-container #right-span{
    border-radius: 20px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}